/* 1. Tailwind v4 + DaisyUI CSS-first */
@import 'tailwindcss';
@import 'primereact/resources/primereact.css' layer(primereact);
/*@import 'primeflex/primeflex.css' layer(primereact);*/
@import 'primeicons/primeicons.css' layer(primereact);
/*@import 'primereact/resources/themes/saga-blue/theme.css' layer(primereact);*/
@import 'primereact/resources/themes/soho-dark/theme.css' layer(primereact);
@plugin 'daisyui';

/* 2. Declara las capas */

@layer tailwind-base, primereact, tailwind-components, tailwind-utilities;

/* 3. Importa los estilos de PrimeReact/PrimeFlex/PrimeIcons en su capa */

/* 6. Tailwind utilities */
@layer tailwind-utilities {
  @tailwind utilities;
}

h1{
  font-size:2em;
}

.body-main{
  /*display: grid;*/
  /*grid-template-rows: 0.1fr 1fr 0.1fr;*/
}

.p-ripple.orange-ripple .p-ink{
  background: #f6a6004d; /* Yellow */
}

.apexcharts-menu {
  background-color: transparent !important; /* Fondo oscuro */
  border-radius: 6px;
  padding: 4px;
  backdrop-filter: blur(19px);
}

.apexcharts-menu > .apexcharts-menu-item:hover{
  background-color: rgba(255, 255, 255, 0.29) !important;
  color: black;
}
.apexcharts-toolbar svg {
  fill: white !important; /* Iconos blancos */
}